.buscadorContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.buscador {
    width: 95%;
    margin-bottom: 20px;
}

.buscador input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.buscador input::placeholder {
    color: #d4af37;
}

.buscador input:hover::placeholder {
    color: black;
}

.buscador input:hover{
    color: black;
    background-color: #d4af37;
}

@media (max-width: 768px) {
    .buscadorContainer {
      flex-direction: column;
      align-items: center;
    }
  
    .buscador {
      width: 100%;
    }
}

.ingredientsBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    text-decoration: none;
}

@media (max-width: 768px) {
    .ingredientsBox {
      grid-template-columns: 1fr;
    }
}

.ingredients {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    height: 200px;
}

.ingredientsBox .ingredients {
    flex-basis: calc(33.333% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: opacity 0.3s ease;
}
  
.ingredientsBox .ingredients:hover {
    opacity: 0.7;
    background-color: #d4af37;
}
  
.ingredients img {
    max-width: 100%;
    max-height: 120px; 
    object-fit: contain; 
    border-radius: 20%;
}
  
.ingredients h3 {
    margin: 5px 0;
    color: black;
}

.ingredients p {
    margin: 0;
}

@media (max-width: 480px) {
    .ingredientsBox {
      padding: 10px;
    }
    
    .ingredients {
      padding: 10px;
    }
    
    .ingredients img {
      width: 80px;
      height: 80px;
    }
    
    .ingredients h3 {
      font-size: 16px;
    }
}

.botonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.boton{
    padding: 8px 16px;
    background-color: #f9f9f9;
    color: #d4af37;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton:hover {
    color: black;
    background-color: #d4af37;
}


  