.buscadorContainer {
    display: flex;
    justify-content: flex-start;
    background-color: black;
    padding-left: 30px;
    padding-bottom: 100px;
  }
  
  .buscador {
    width: 40%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .buscador input {
    width: 100%;
    padding: 10px;
    border: 0px;
    border-bottom: 1px solid white;
    font-size: 16px;
    background-color: black;
    color: white;
  }
  
  .buscador input::placeholder {
    color: white;
  }
  
  .buscador input:hover::placeholder {
    color: black;
  }
  
  .buscador input:hover {
    color: black;
    background-color: white;
  }
  
  .ingredientsBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    padding: 20px;
    text-decoration: none;
    background-color: black;
    padding-bottom: 100px;
  }
  
  .ingredients {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 10px;
    height: 350px;
    object-fit: cover;
    transition: opacity 0.3s ease;
  }
  
  .ingredientsBox .ingredients {
    flex-basis: calc(33.333% - 20px);
    padding: 10px;
    background-color: white;
    transition: opacity 0.8s ease;
  }
  
  .ingredients img:hover {
    border-radius: 20px;
    transform: translateY(-10px);
    transform: scale(2);
  }
  
  .ingredients img {
    max-width: 100%;
    max-height: 120px;
    object-fit: contain;
  }
  
  .ingredients h3 {
    margin: 5px 0;
    border-top: 1px solid black;
    padding-top: 20px;
    margin-bottom: 80px;
    color: black;
  }
  
  .ingredients p {
    margin: 0;
  }
  
  .botonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-bottom: 100px;
    padding-top: 50px;
    gap: 20px;
  }
  
  .boton {
    padding: 8px 16px;
    background-color: black;
    color: white;
    font-size: 40px;
    font-weight: 300;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .boton:hover {
    color: black;
    background-color: white;
  }
  
  /* Estilos para pantallas de hasta 1080px */
  @media (max-width: 1080px) {
    .buscadorContainer {
        flex-direction: column;
        align-items: center;
        padding-right: 20px;
        padding-bottom: 10px;
    }
  
    .buscador input {
      font-size: 14px;
      text-align: center;
    }
  
    .ingredientsBox {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      padding: 10px;
    }
  
    .ingredients img {
      max-height: 150px;
    }

    .ingredients img:hover {
      transform: scale(1.5);
    }
  
  
    .ingredients h3 {
      font-size: 18px;
    }
  
    .boton {
      font-size: 30px;
      padding: 6px 12px;
    }
  }
  
  /* Estilos para pantallas de hasta 765px */
  @media (max-width: 765px) {
    .buscadorContainer {
      flex-direction: column;
      align-items: center;
    }
  
    .buscador {
      width: 80%;
      margin-bottom: 10px;
    }
  
    .buscador input {
      font-size: 14px;
    }
  
    .ingredientsBox {
      grid-template-columns: 1fr;
      gap: 20px;
      padding: 10px;
    }
  
    .ingredients img {
      max-height: 120px;
    }

    .ingredients img:hover {
      transform: scale(1.1);
    }
  
  
    .ingredients h3 {
      font-size: 16px;
    }
  
    .boton {
      font-size: 20px;
      padding: 6px 12px;
    }
  }
  
  /* Estilos para pantallas pequeñas (max-width: 480px) */
  @media (max-width: 480px) {
    .buscadorContainer {
      padding-left: 5px;
      align-items: center;
    }
  
    .buscador {
      width: 100%;
      margin-bottom: 10px;
      margin-top: 10px;
    }
  
    .buscador input {
      font-size: 14px;
      padding: 8px;
    }
  
    .ingredientsBox {
      grid-template-columns: 1fr;
      gap: 20px;
      padding: 10px;
      padding-bottom: 50px;
    }
  
    .ingredients {
      height: auto;
      padding: 5px;
    }
    .ingredients img:hover {
      transform: scale(1.2);
    }
  
    .ingredients img {
      width: 80px;
      height: 80px;
      padding-top: 50px;
      object-fit: cover;
    }
  
    .ingredients h3 {
      font-size: 16px;
    }
  
    .botonContainer {
      padding-bottom: 50px;
      padding-top: 30px;
    }
  
    .boton {
      font-size: 30px;
      padding: 6px 12px;
    }
  }
  