.contenedorHome {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagenContainer {
  flex-basis: 50%;
  text-align: center;
}

.parrafoContainer {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.imagen {
  width: 100%;
  height: auto;
}

.parrafoTexto {
  text-align: justify;
  max-width: 500px;
  margin: 0 auto;
}

.containerUltimas {
  background-color: black;
}


@media (max-width: 600px) {
  .contenedorHome {
    flex-wrap: wrap;
  }

  .imagenContainer,
  .parrafoContainer {
    flex-basis: 100%;
  }

  .imagenContainer {
    order: 2;
  }
}