.cardOrigen {
  margin-bottom: 150px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: black;
  transition: transform 0.3s ease;
  max-width: 550px; 
  margin: 0 auto; 
  overflow: hidden;
  object-fit: cover;
}

.card:hover {
  transform: translateY(-5px);
}

.imagen {
  width: 100%;
  height: 600px;
  overflow: hidden;
 
}

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
  -webkit-mask-image: linear-gradient(to top, transparent, black);
  mask-image: linear-gradient(to top, transparent, black);
}

.card:hover .imagen img {
  opacity: 0.8;
}

.nombre {
  margin-bottom: 10px;
  text-align: center;
}

.nombre h3 {
  font-size: 30px;
  font-weight: 300;
  color: #f9f9f9;
}


@media (max-width: 1080px) {
  .cardOrigen {
    margin-bottom: 100px;
  }

  .imagen {
    width: 400px;
    height: 250px;
  }
}

@media (max-width: 765px) {
  .cardOrigen {
    margin-bottom: 50px;
  }

  .imagen {
    width: 300px;
    height: 150px;
  }

  .nombre h3 {
    font-size: 15px;
  }
}  

