/* Estilos base */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h2 {
  font-size: 40px;
  font-weight: 300;
}

.form {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}

.formGroup {
  margin-bottom: 20px;
}

.label {
  font-size: 16px;
  margin-bottom: 5px;
}

.input,
.select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid black;
}

@media screen and (max-width: 767px) {
  .form {
    width: 90%;
    padding: 0 10px;
  }

  .container h2 {
    font-size: 30px;
  }

  .label {
    font-size: 14px;
  }

  .input,
  .select {
    padding: 8px;
    font-size: 14px;
  }

  .buttonContainer {
    flex-direction: column;
    gap: 20px;
  }

  .button {
    font-size: 30px;
    padding: 6px 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .form {
    width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  .form {
    width: 80%;
  }
}

.ingredientsContainer {
  margin-bottom: 20px;
}

.ingredientsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 10px;
}

.ingredientItem {
  display: flex;
  align-items: center;
  min-width: 150px;
}

.ingredientImage {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
}

.ingredientCheckbox {
  display: none;
}

.customCheckboxLabel {
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: center;
  flex-grow: 1;
  padding: 8px 16px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
}

.customCheckboxLabel:hover {
  background-color: black;
  color: white;
}

.ingredientCheckbox:checked + .customCheckboxLabel {
  background-color: black;
  color: white;
}

.selectedIngredientsContainer {
  margin-bottom: 20px;
}

.selectedIngredientsContainer h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.selectedIngredientsContainer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.selectedIngredientsContainer li {
  font-size: 16px;
  margin-bottom: 5px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 100px;
  gap: 40px;
}

.button {
  padding: 8px 16px;
  background-color: black;
  color: white;
  font-size: 40px;
  font-weight: 300;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  color: black;
  background-color: white;
}

.formbuscador {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.formbuscador .label {
  font-size: 16px;
  margin-right: 10px;
}

.formbuscador .input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid black;
}
